*{
  margin: 0;
  padding: 0;
}
#firstcom{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url('./assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}